.home{
    background-image: url("https://static1.lenskart.com/media/desktop/img/2024/may/prog/New%20Web%20Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
    margin-top: 40px;

}
.input{
    width: 300px;
  
}
.text{
 margin-top: 30px;
}